<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.ico" />
    <link rel="stylesheet" href="Src/mycss.css" />
    <title>Exprimez vous sur des videos librement anonymement publiquement</title>
    <meta name="description" content="Ajoutez un lien d'une video qui s'affiche, et soyez libre d'ajouter vos critiques anonymes publiques." />
    <meta name="keywords" content="développement personnel, expression libre, critique videoludique" />
    <meta name="robots" content="index" />
    <meta name="google-site-verification" content="xLX8nJth_GNfqFNodGC2R9yqMez1gBX1ACt5WYAIcRw" />
</head>
@RenderBody()
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
