@page
@model WebApplication1.Pages.ChannelModel
<html lang="fr">
<body>
    <div id="sendchannelcontent">
        <a href="~/"><img id="imgchannelcontent" src="Images\Web_22320.png" /></a>
        <table id="channelcontent"></table>
    </div>
    <div id="footer">©2020</div>
</body>
</html>
<script type="text/javascript" src="Src/channeljs.js" charset="ISO-8859-1"></script>
